<mat-sidenav-container class="app-sidenav-container">
  <mat-sidenav #sidenav class="app-sidenav mat-elevation-z10">
    <mat-toolbar color="primary">
      Menu
    </mat-toolbar>
    <mat-nav-list>
      <mat-list-item *ngFor="let link of links">
        <a matLine href="">{{ link }}</a>
      </mat-list-item>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <div *ngIf="isScreenSmall()">
      <mat-toolbar color="primary">
        <button fxFlex="20" mat-button (click)="sidenav.toggle()">
          <mat-icon>menu</mat-icon>
        </button>
        <div fxFlex fxLayoutAlign="center">Title</div>
      </mat-toolbar>
    </div>
    <div *ngIf="!isScreenSmall()">
      <mat-toolbar color="primary">
        <h1>Title</h1>
        <span fxFlex></span>
        <div fxLayoutGap="10px" fxLayout="row">
          <h3>Item 1</h3>
          <h3>Item 2</h3>
          <h3>Item 3</h3>
        </div>
      </mat-toolbar>
    </div>
  </mat-sidenav-content>


</mat-sidenav-container>
