<mat-sidenav-container class="app-sidenav-container">
  <mat-sidenav #sidenav class="app-sidenav">
    <mat-toolbar color="primary">
      Menu
    </mat-toolbar>
    <mat-nav-list>
      <mat-list-item class="linksSidebar">
        <a matLine [routerLink]="''">Home</a>
      </mat-list-item>
      <mat-list-item class="linksSidebar">
        <a matLine [routerLink]="'about'">About</a>
      </mat-list-item>
      <mat-list-item class="linksSidebar">
        <a matLine [routerLink]="'projects'">Projects</a>
      </mat-list-item>
    </mat-nav-list>
    <div class="container">
      <app-socialmedialinks></app-socialmedialinks>
    </div>
  </mat-sidenav>
  <mat-sidenav-content>
    <div *ngIf="isScreenSmall()">
      <mat-toolbar color="primary">
        <button fxFlex="20" mat-button (click)="sidenav.toggle()">
          <mat-icon>menu</mat-icon>
        </button>
      </mat-toolbar>
    </div>
    <div *ngIf="!isScreenSmall()">
      <mat-toolbar color="primary">
        <span fxFlex></span>
        <mat-nav-list style="margin-right: 100px" fxLayoutGap="10px" fxLayout="row">
          <!-- <mat-list-item class="linksNavbar" *ngFor="let link of links">
            <a matLine routerLinkActive="router-link-active" >{{ link }}</a>
          </mat-list-item> -->
          <mat-list-item class="linksNavbar">
            <a matLine [routerLink]="''">Home</a>
          </mat-list-item>
          <mat-list-item class="linksNavbar">
            <a matLine [routerLink]="'/about'">About</a>
          </mat-list-item>
          <mat-list-item class="linksNavbar">
            <a matLine [routerLink]="'/projects'">Projects</a>
          </mat-list-item>
        </mat-nav-list>

      </mat-toolbar>
    </div>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>


