<div class="test" fxLayout="row wrap" fxLayoutAlign="space-evenly" >
  <div class="div1">
    <mat-card class="aboutMecard">
      <mat-card-title>
        A little about me...
      </mat-card-title>
      <img mat-card-image src="../../assets/IMG_20180409_130646_HDR.jpg" alt="Renan">
      <mat-card-content>
        <p>Born in Brazil</p>
        <p>Graduated in Physical Education</p>
        <p>Coach Soccer in USA for about 2 years</p>
        <p>Traveled to Australia and worked there for almost two years in odd jobs.</p>
        <p>Moved to New Zealand and worked with construction for a year.</p>
        <p>Finally moved to Germany</p>
        <p>Looking for a job in Web Development</p>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="div2">
    <mat-card class="aboutMecard">
      <mat-card-title>
        Skills
      </mat-card-title>
      <img mat-card-image src="https://s-i.huffpost.com/gen/4784786/images/o-CODING-facebook.jpg" alt="Skills">
      <mat-card-content fxLayout="row wrap" fxLayoutGap="60px">
        <fa-icon [icon]="['fab', 'angular']" size="2x"></fa-icon>
        <fa-icon [icon]="['fab', 'js-square']" size="2x"></fa-icon>
        <fa-icon [icon]="['fab', 'python']" size="2x"></fa-icon>
        <fa-icon [icon]="['fab', 'react']" size="2x"></fa-icon>
        <fa-icon [icon]="['fab', 'html5']" size="2x"></fa-icon>
        <fa-icon [icon]="['fab', 'vuejs']" size="2x"></fa-icon>
      </mat-card-content>
    </mat-card>
  </div>
</div>

<!-- <app-socialmedialinks></app-socialmedialinks> -->

